{% extends 'base.html' %}
{% load static %}  <!-- Make sure this line is at the top of the file -->

{% block title %}Program Details{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>{{ program.name }}</h1>
  <p>{{ program.description }}</p>
  <!-- The link to download the program would go here. It could be a direct link to a file or another view that handles the download. -->
  <a href="{% static 'downloads/Password_Generator.exe' %}" class="btn btn-success" download="Password_Generator.exe">Download Password Generator</a>
</div>
{% endblock %}